<footer>
  <div class="grid">
    <div class="col right-align">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a target="_blank" href="http://www.mynordicsports.com.au/index.php/faq/">FAQs</a></li>
      </ul>
    </div>
    <div class="col">
      <div class="grid">
        <div class="col">
          <ul>
            <li><img src="/assets/images/enw_logo_dark.png" alt="Essential Nordic Walking"></li>
            <li><a target="_blank" href="http://www.nordicacademy.com.au">Nordic Academy</a></li>

            <li>
              Like us on Facebook!
            </li>
            <li>
                <iframe title="Facebook" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fessentialnordicwalking&tabs&width=340&height=154&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="154" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>
              <img src="/assets/images/nw_provider_logo.jpg" alt="Certified Nordic Walking Provider">
            </li>
            <li>
              Contact Me:
              <h4>0417 943 141</h4>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <div class="box copyright">
        <p style="text-align: center">&copy; 2017, Essential Nordic Walking.</p>
      </div>
    </div>
  </div>
</footer>
