<footer>
  <div fxLayout="column" fxLayoutAlign="start center" class="content">
    
    <div fxFlex style="width: 100%">
      <div fxLayout="row">
        <div fxFlex="30">
          <div fxLayout="column">
            <ul>
              <li>
                <img src="/assets/images/enw_logo_dark.png" alt="Essential Nordic Walking">
              </li>
              <li>
                <small>Take walking to the next level.</small>
              </li>
              <li></li>
              <li>0417 943 141</li>
            </ul>
          </div>
        </div>

        <div fxFlex="30">
          <div fxLayout="column">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/about">About</a></li>
              <li><a routerLink="/services">Services</a></li>
              <li><a routerLink="/products">Products</a></li>
              <li><a target="_blank" href="http://www.mynordicsports.com.au/index.php/faq/">FAQs</a></li>
            </ul>
          </div>
        </div>

        <!---->
        <!--<div fxLayout="column">
          <div class="divider" fxFlex></div>
        </div>-->

        <div fxFlex="30">
          <div fxLayout="column">
            <ul>
              <li><a target="_blank" href="http://www.nordicacademy.com.au">Nordic Academy</a></li>
              <li>
                <img src="http://www.nordicwalkingbrisbane.com.au/images/Logos/NWProviderlogoH.jpg" alt="">
              </li>
              <li>
                Like us on Facebook!
              </li>
              <li>
                <div class="fb-like" data-colorscheme="dark" data-href="https://www.facebook.com/essentialnordicwalking/" data-width="100px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="copyright">
      &copy; 2017, Essential Nordic Walking.
    </div>
  </div>
</footer>