<header class="hero-mini">
  <div class="grid grid-header">
    <div class="col-12">
      <h1>Services</h1>
    </div>
  </div>
</header>

<section>
  <div class="grid grid-header">
    <div class="col-12">
      <h2 class="heading">Have-a-Go Session</h2>
      <h3 class="sub-heading">New to Nordic Walking? Join the Have-a-go Session to get started.</h3>
    </div>
  </div>

  <div class="grid">
    <div class="col">
      <img src="/assets/images/nordic-senior2.jpg" alt="Nordic Walking - Senior Walker Participant" style="width: 300px" style.xs="width: 100%">
      <br><br>
      <p>
        $10<sup>*</sup> for 30 minute introduction to Nordic Walking.
        <br> Includes:
        <br>
        <br>
        <li>Hire of poles;</li>
        <li>Brochure;</li>
        <br>This is an
        <u>introduction</u> to the activity. Heather gives participants an overview of the origins of the activity, equipment
        and health benefits. Participants have the opportunity to have a go.
      </p>
      <p>
        <small><sup>*</sup>$10 for both individual and groups.</small>
      </p>
    </div>
    <div class="col">
      <form *ngIf="isBrowser" [formGroup]="haveAGoForm" (ngSubmit)="haveAGoSubmit(haveAGoForm)" class="grid form">
        <!-- Loading -->
        <div class="loading-overlay" *ngIf="haveAGoSubmittingForm" fxLayout="column" fxLayoutAlign="center center">
          <md-spinner color="accent"></md-spinner>
          <span>Submitting Form....</span>
        </div>

        <!-- Name -->
        <md-input-container class="col-12" [ngClass]="{ 'form-errors': hasFieldError(haveAGoForm, haveAGoForm.get('name')) }">
          <input mdInput formControlName="name" placeholder="Name" autocomplete="off">
          <md-hint *ngIf="hasFieldError(haveAGoForm, haveAGoForm.get('name')) && haveAGoForm.get('name').hasError('required')">
            Please enter your name.
          </md-hint>
        </md-input-container>

        <!-- Email -->
        <md-input-container class="col-12" [ngClass]="{ 'form-errors': hasFieldError(haveAGoForm, haveAGoForm.get('email')) }">
          <input mdInput formControlName="email" placeholder="Email" autocomplete="off">
          <md-hint *ngIf="hasFieldError(haveAGoForm, haveAGoForm.get('email')) && haveAGoForm.get('email').hasError('required')">
            Please enter your email address.
          </md-hint>
          <md-hint *ngIf="hasFieldError(haveAGoForm, haveAGoForm.get('email')) && haveAGoForm.get('email').hasError('pattern')">
            Please enter a valid email address.
          </md-hint>
        </md-input-container>

        <!-- Phone -->
        <md-input-container class="col-12" [ngClass]="{ 'form-errors': hasFieldError(haveAGoForm, haveAGoForm.get('phone')) }">
          <input mdInput formControlName="phone" placeholder="Phone (Optional)" autocomplete="off">
        </md-input-container>

        <button md-button [disabled]="haveAGoSubmittingForm">SEND ENQUIRY</button>
      </form>
    </div>
  </div>
</section>

<section>
  <div class="grid grid-header">
    <div class="col-12">
      <h2 class="heading">Our Classes</h2>
      <h3 class="sub-heading">Participate in a group or invidial sessions.</h3>
    </div>
  </div>
  <div class="grid lessons-group">
    <md-card class="col lesson" fxLayout="column" fxFlex="440px" fxFlex.sm="330px" *ngFor="let lesson of lessons">
      <img md-card-image [src]="lesson.thumbnailUrl" [alt]="lesson.name">
      <md-card-title>{{lesson.name}}</md-card-title>
      <md-card-content fxFlex>
        <div [innerHtml]="lesson.content">

        </div>
      </md-card-content>
      <md-card-footer>
        <button md-button (click)="openBookingClassesDialog(lesson)">BOOK CLASS</button>
      </md-card-footer>
    </md-card>
  </div>
</section>

<section>
  <div class="grid grid-header">
    <div class="col-12">
      <h2 class="heading">Presentations</h2>
      <h3 class="sub-heading">Seeking speakers for a presentations or conference? Let's get in touch.</h3>
    </div>
  </div>

  <div class="grid">
    <div class="col">
      <p>
        Presentations are suitable for Service Clubs and Social Groups and it is free of charge. I offer 30 minute presentations
        on the general background of Nordic Walking and the benefits Nordic Walking can have on your physical and mental
        health.
      </p>
      <p>
        Contact me today to find out more about presentations and what I offer.
        <br><br> Enter your details in the form provided and I will contact you back via phone or email as soon as possible.
      </p>
    </div>
    <div class="col">
      <form *ngIf="isBrowser" [formGroup]="presentationForm" (ngSubmit)="presentationSubmit(presentationForm)" class="form grid">
        <!-- Loading -->
        <div class="loading-overlay" *ngIf="presentationSubmittingForm">
          <md-spinner color="accent"></md-spinner>
          <span>Submitting Form....</span>
        </div>

        <!-- Name -->
        <md-input-container class="col-12" [ngClass]="{ 'form-errors': hasFieldError(presentationForm, presentationForm.get('name')) }">
          <input mdInput formControlName="name" placeholder="Name" autocomplete="off">
          <md-hint *ngIf="hasFieldError(presentationForm, presentationForm.get('name')) && presentationForm.get('name').hasError('required')">
            Please enter your name.
          </md-hint>
        </md-input-container>

        <!-- Email -->
        <md-input-container class="col-12" [ngClass]="{ 'form-errors': hasFieldError(presentationForm, presentationForm.get('email')) }">
          <input mdInput formControlName="email" placeholder="Email" autocomplete="off">
          <md-hint *ngIf="hasFieldError(presentationForm, presentationForm.get('email')) && presentationForm.get('email').hasError('required')">
            Please enter your email address.
          </md-hint>
          <md-hint *ngIf="hasFieldError(presentationForm, presentationForm.get('email')) && presentationForm.get('email').hasError('pattern')">
            Please enter a valid email address.
          </md-hint>
        </md-input-container>

        <!-- Organisation Name -->
        <md-input-container class="col-12" [ngClass]="{ 'form-errors': hasFieldError(presentationForm, presentationForm.get('organisationName')) }">
          <input mdInput formControlName="organisationName" placeholder="Organisation Name (Optional)" autocomplete="off">
        </md-input-container>

        <!-- Phone -->
        <md-input-container class="col-12" [ngClass]="{ 'form-errors': hasFieldError(presentationForm, presentationForm.get('phone')) }">
          <input mdInput formControlName="phone" placeholder="Phone (Optional)" autocomplete="off">
        </md-input-container>

        <button md-button [disabled]="presentationSubmittingForm">SEND ENQUIRY</button>
      </form>
    </div>
  </div>
</section>
