<header class="hero-mini" fxLayout="column" fxLayoutAlign="center center">
  <h1>About</h1>
</header>

<!-- Nordic Walking -->
<section fxLayout="column">
  <div class="wrapper">
    <div>
      <h2 class="heading">Nordic Walking</h2>
      <h3 class="sub-heading">Taking walking to the next level, it's a new way of walking.</h3>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutWrap>
      <div fxFlex="50" fxFlex.xs="100">
        <div fxLayout="column">
          <p>
            Nordic Walking is relatively new to Australia but practised widely in Europe, the U.K. and the U.S.A. Its origins are in
            cross-country skiing, as the name suggests. It is a fitness activity utilising specially designed poles and a
            technique which activates 90% of the body’s muscles. It can be done on a variety of surfaces including footpaths,
            grass, sand and bush tracks.
          </p>

          <p>
            It is suitable for people of all ages and fitness levels as well as those living with chronic medical conditions. Before
            commencing any exercise program, it is advisable to get the go-ahead from a medical professional.
          </p>

          <p>
            As an instructor and regular Nordic Walker, I promote Nordic Walking as a way of keeping the brain healthy and reducing the
            risk of dementia. Learning Nordic Walking is simultaneously mentally, physically and socially stimulating. Activities
            that combine these 3 elements have been shown to be particularly beneficial for brain health.
          </p>

          <p>
            To obtain the benefits of Nordic Walking listed below, it is important to learn the correct technique from a qualified instructor.
          </p>
        </div>
      </div>
      <span fxFlex="1"></span>
      <div fxFlex="45" fxFlex.xs="100">
        <div fxLayout="row" fxLayoutAlign="center center">
          <span fxFlex="5" fxHide.sm></span>
          <img fxFlex="70" src="/assets/images/nordic-senior1.jpg" alt="Nordic Walking - Senior Walker Participant">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Benefits -->
<section fxLayout="column">
  <div class="wrapper">
    <div>
      <h2 class="heading">Benefits</h2>
      <h3 class="sub-heading"></h3>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutWrap>
      <div fxFlex="50" fxFlex.xs="100">
        <div fxLayout="column">

          <p>
            Scientific research supports the following benefits from Nordic Walking using the correct technique:
          </p>

          <ul>
            <li>Up to 40% more calories burned compared to regular walking</li>
            <li>Up to 25% cardiovascular benefit than regular walking</li>
            <li>Improves co-ordination and balance</li>
            <li>Improves walking posture</li>
            <li>Releases pain and tension in the neck and shoulders</li>
          </ul>

          <p>
            To view the scientific literature, go to: <a href="www.nordicacademy.com.au">www.nordicacademy.com.au</a>
          </p>

        </div>
      </div>
      <span fxFlex="5"></span>
      <div fxFlex="40" fxFlex.xs="100">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img fxFlex="100" src="/assets/images/nordic-senior2.jpg" alt="Nordic Walking - Senior Walker Participant">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Me -->
<section fxLayout="column">
  <div class="wrapper">
    <div>
      <h2 class="heading">About Me</h2>
      <h3 class="sub-heading"></h3>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutWrap>
      <div>
        <div fxLayout="column" fxLayoutAlign="start center">
          <img class="avatar" src="./assets/images/heather.jpg" alt="Heather">
          <h4>Heather Thorne</h4>
          <h5>Dip. Teach. B.Ed. <br>Certified Nordic Walking Instructor</h5>
        </div>
      </div>
      <span fxFlex="1"></span>
      <div fxFlex>
        <div fxLayout="column" fxLayoutAlign="start center">
          <p>
            I am a keen Nordic Walker and have been instructing since 2011. In 2012, I worked as a Nordic Walking instructor with the
            City of Cockburn, running 2 groups for seniors as part of the Co-Health Program. Since 2009, I have run Heart
            Foundation Walking groups offering Nordic Walking.
          </p>
          <p>
            I am currently studying Preventive Health at the University of Notre Dame Australia at the Fremantle campus. Nordic Walking
            fits very well with my passion for brain health and reducing the risk of dementia. It involves cognitive stimulation,
            a physical workout and social interaction as it’s usually done in a group. Research shows that combining these
            3 components is beneficial for the brain.
          </p>
          <p>
            Essential Nordic Walking has been established to introduce Nordic Walking to as many West Australians as possible. My approach
            to Nordic Walking instruction is tailored to the individual needs of each client. For this reason, I teach in
            small groups of up to 6 walkers and I can cater for people of all ages and fitness levels. You will find me an
            outgoing and sociable person whose enthusiasm for Nordic Walking is motivating.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>