<md-toolbar color="primary">
  <div>
    Confirm Booking
  </div>
  <span style="flex: 1 1 auto"></span>
  <div>
    <button md-icon-button md-dialog-close>
      <md-icon>close</md-icon>
    </button>
  </div>
</md-toolbar>


<div class="confirmation">
  <h4>SELECT LESSON</h4>
  <md-card>
    <md-card-title>{{lesson.name}}</md-card-title>
    <md-card-content>
      <div class="grid">
        <div class="col-12" [innerHtml]="lesson.content"></div>
        <div class="col-12">
          <b>PROMO OFFER</b>
          <div [innerHtml]="lesson.offer"></div>
        </div>
      </div>
    </md-card-content>
  </md-card>

</div>
<br><br>
<form class="grid" [formGroup]="bookLessonForm" (ngSubmit)="bookLessonSubmit(bookLessonForm)">
  <!-- Loading -->
  <div class="loading-overlay" *ngIf="submittingForm">
    <md-spinner color="accent"></md-spinner>
    <span>Submitting Form....</span>
  </div>

  <!-- First Name -->
  <md-input-container class="col-12" [ngClass]="{ 'form-errors': hasFieldError(bookLessonForm, bookLessonForm.get('name')) }">
    <input mdInput formControlName="name" placeholder="Name" autocomplete="off">
    <md-hint *ngIf="hasFieldError(bookLessonForm, bookLessonForm.get('name')) && bookLessonForm.get('name').hasError('required')">
      Please enter your name.
    </md-hint>
  </md-input-container>

  <!-- Email -->
  <md-input-container class="col-12" [ngClass]="{ 'form-errors': hasFieldError(bookLessonForm, bookLessonForm.get('email')) }">
    <input mdInput formControlName="email" placeholder="Email" autocomplete="off">
    <md-hint *ngIf="hasFieldError(bookLessonForm, bookLessonForm.get('email')) && bookLessonForm.get('email').hasError('required')">
      Please enter your email address.
    </md-hint>
    <md-hint *ngIf="hasFieldError(bookLessonForm, bookLessonForm.get('email')) && bookLessonForm.get('email').hasError('pattern')">
      Please enter a valid email address.
    </md-hint>
  </md-input-container>

  <!-- Phone -->
  <md-input-container class="col-12" [ngClass]="{ 'form-errors': hasFieldError(bookLessonForm, bookLessonForm.get('phone')) }">
    <input mdInput formControlName="phone" placeholder="Phone (Optional)" autocomplete="off">
  </md-input-container>

  <!-- Hire Equipment -->
  <div class="col-12">
    <div class="radio-hire-label">Hire Equipment?</div>
    <!-- fxLayout="column" fxLayoutGap="16px"-->
    <md-radio-group formControlName="hireEquipment">
      <md-radio-button value="0">No</md-radio-button>
      <md-radio-button value="1">Yes</md-radio-button>
    </md-radio-group>
    <br><br><br>
  </div>
  <button class="col-12" md-button [disabled]="submittingForm">SUBMIT BOOKING</button>
</form>

<md-dialog-actions>

</md-dialog-actions>
