@import '../../theme.scss';

.mat-toolbar {
    background-color: #fff;
}

md-toolbar {
    position: fixed;
    top: 0;
    z-index: 99;

    button[md-button] {
        height: 100%;
        font-weight: 400;

        &.active {
            font-weight: 500;
            background-color: transparent;
            border-bottom: 4px solid $accent;
        }
    }

    .logo {
        margin-right: 64px;
    }

    .nav-items {
        height: 100%;
    }
}