md-sidenav-container {
  margin: 0;
  width: 100%;
  height: calc(100% - 64px);
}

md-sidenav {
  width: 300px;
}

.toolbar-margin {
  margin-top: 64px;
}

.content {
  min-height: 100%;
}

@media (max-width: 600px) and (orientation: portrait) {
  .toolbar-margin {
    margin-top: 56px;
  }
}