<!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div @fadeIn>
    <enw-toolbar (menuToogle)="sidenav.toggle()"></enw-toolbar>
    <md-sidenav-container>
        <md-sidenav #sidenav>
            <img src="assets/images/enw_logo.svg" alt="Essential Nordic Walking">
        </md-sidenav>
        <div class="content">
            <router-outlet></router-outlet>
            <enw-footer></enw-footer>
        </div>
    </md-sidenav-container>
</div>