@import '~@angular/material/theming';
@import '../../../theme.scss';

$whiteBackground: #fafafa;

.hero {
    background-color: $primary;
}

md-card.enw-card {
  padding: 12px;
  margin: 16px 0;
  outline: 0;

  &:hover {
    @include mat-elevation(8);
    cursor: pointer;
  }

  .mat-card-image {
    width: calc(100% + 24px);
    margin: -12px -12px 20px -12px;
  }

  md-card-content {
    font-size: 16px;
  }
} 

.register-form {
  width: 100%;
  max-width: 448px;
  margin: 0 auto;
  

  .form-errors {
    color: $warn;
  }

  .submit {
    height: 48px;
    background-color: $primary;
    color: #fff;
  }

  md-input-container {
    margin: 8px 0;
  }

  button {
    background-color: $primary;
    color: #fff;
    height: 48px;
    transition: background-color ease-in 150ms;
    transition: color ease-in 150ms;

    &[disabled] {
      background-color: #999;
      color: #fff;
      cursor: not-allowed;
    }
  }

  .input-container {
    position: relative;
  }
}

.loading-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: $whiteBackground;

  md-spinner {
    width: 48px;
  }

  span {
    color: #777;
    font-weight: 500;
  }
}
